/*
 Theme Name:   🐝🐝
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  bbPress/BuddyPress.org theme
 Template:     paperback
*/

/* style changes */
#site-navigation a {
	color: #62707C;  /* colour from theme */
}
#site-navigation ul.menu > li.current-menu-item > a {
	border: 0;
	color: #D3471C;  /* Accent Color */
}

body .hero-cats a {
	font-size: 14px;
}

.manual-highlight,
.manual-highlight a {
	color: #D3471C !important;  /* Accent Color */
}

body pre,
body table thead,
table tr:nth-child(even) {
	background: #f5f4f0;  /* Footer Background Color */
}
body table td {
  border-bottom-color: #f5f4f0;  /* Footer Background Color */
}


/* tweak things weird in original theme */
body.home .site-content {
  padding-top: 0;
}
@media (max-width: 600px) {
  body.home .site-content {
		padding-top: 0;
  }
}


/* neuter the slider */
body #hero-pager li {
	opacity: 1;
}
body .hero-posts .entry-title a:hover {
	opacity: 1;
}


/* global header/footer */
#secondary-navigation a {
	font-size: 16px;
}
#secondary-navigation ul li.current-menu-item {
	border-bottom: 4px solid #FFF;
}
#menu-global-header > li:first-of-type a {
	padding: 8px 0;
}
#menu-global-header > li:first-of-type img {
	width: 3.4rem;
	vertical-align: middle;
}
body .drawer {
	background: #f5f4f0;  /* Footer Background Color */
}


/* bbpress */
body.post-type-archive-forum #primary {
	width: 100%;
}
body.post-type-archive-forum .post {
	margin-bottom: 0;
}
